BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
ColumnLimit: 0
IndentPPDirectives: BeforeHash
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
AlignTrailingComments: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: true
SpaceAfterCStyleCast: true
BinPackArguments: true
BinPackParameters: true
SortIncludes: Never
ReflowComments: false
MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: false
